<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <test name="Selenium Tests">
    <classes>
      <class name="Assignment_02_06.Alerts"/>
       <class name="Assignment_02_06.Iframes"/>
      <class name="Assignment_02_06.Dropdown"/>
      
       
      
    </classes>
  </test>

 
</suite>